{%extends 'core/base.html' %}
{% block title %} Inbox {% endblock %}
{% block content %}

    <h1>Inbox</h1>

    <div class="flex flex-col  mb-3 space-y-3">
        {% for converstion in converstions %}
            <a href="{% url 'converstion:detail' converstion.id %}" >
                <div class="text-lg font-semibold py-2 px-4 rounded-xl flex p-6 bg-gray-200 w-full ">
                    <div class="pr-6 ">
                        <img src ="{{ converstion.item.image.url }}" alt="item image" class="w-20 h-20 rounded-full">
                    </div>
                    <div class= "text-black text-xs">
                        {% for member in converstion.members.all %}
                            {% if member != request.user %}
                                <p class="mb-3"><h6>{{ member.username }} | {{converstion.modified}}</h6></p>
                                <p class="mt-6">{{ converstion.item.name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}